body {
    background-image: url("../images/space-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 2000;
    overflow: auto;
}

/* #flight_list_table tbody tr {
    cursor: pointer;
} */

.modal-header {
    display: block;
}

.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid black;
}

.page-link {
    color: black !important;
}

.btn:focus, .btn-light:focus, .btn.light:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
